html * { 
    font-family: Arial, Helvetica, sans-serif;
}


/* header styles */
#header {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    height: 200px;
}
#header h1 {
    margin:20px;
}
#header div{
    margin: 20px;
}

#view-scores{
    color:violet;
    text-shadow: rgb(0,0,0, .5) 1px 1px;
}

/* landing page/quiz start styles */
#quiz-wrapper {
    width:60%;
    height:600px;
    display:flex;
    flex-flow:column;
    margin:auto;
    justify-content: flex-start;
    text-align: center;
    align-items:center;
    }

#question {
    width:100%;
    font-size: x-large;
    margin-top: 20px;
}
#question h2{
    font-size: larger;
}

#start-quiz{
    margin-top: 25px;
}

#start-quiz , li {font-size: 18px;
    color: whitesmoke;
    text-align: left;
    background-color: blueviolet;
    margin:15px;
    list-style: none;
    border: blueviolet;
    border-radius: 5px;
    padding:10px;

}

li:hover {
    background-color: violet;
}
#incorrect{
    text-align: center;
    font-size: larger;
    color:gray;
    font-style: italic;
}


